{% extends 'base.html' %}
{% load static %}

{% block title %}
Careers | Field View Contractors
{% endblock title %}

{% block css_back %}
<style>
    .ms-overlay::before {
        background-image: url("{% static 'images/masonary-bg2-1.png' %}");
        /*background-repeat: no-repeat;
        background-size: 1400px 700px;*/
        background-attachment: fixed;
    }
</style>
{% endblock css_back %}

<style>
    
</style>



{% block cover %}
<section class="main-slider style2">
    <div class="container">
        <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
            <div id="rev_slider_476_1" class="rev_slider" style="display:none;" data-version="5.3.0.2">
                <ul>    
                    <!-- SLIDE  -->
                    <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/slider_banner.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/bg-15-2.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lyr3 tp-resizeme" 
                            id="slide-1648-layer-1" 
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="-200" 
                            data-width="['auto']"
                            data-height="['auto']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'  
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[15,15,15,15]"
                            data-paddingleft="[0,0,0,0]"
                            data-start="200"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.04"
                            style="">Build a career <br >with a difference
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption lyr4 tp-resizeme" 
                            id="slide-1648-layer-2" 
                            data-x="center" data-hoffset="0" 
                            data-y="center" data-voffset="-35" 
                            data-width="['auto']"
                            data-height="['auto']"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'  
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"
                            data-start="2000"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.06"
                            style="font-weight: 500; font-size: 22px;">Let's Start
                        </div>
                        <!-- LAYER NR. 3 -->
                        <a href="#current_openings" title="" class="tp-caption layera stt2 tp-resizeme"
                            id="slide-1-layer-3"
                            data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="60		"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_idle="o:1;" 
                            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'  
                            data-paddingtop="[20,20,20,20]"
                            data-paddingright="[20,20,20,20]"
                            data-paddingbottom="[20,20,20,20]"
                            data-paddingleft="[20,20,20,20]"
                            data-start="1500"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.05"
                            style="">Current Job Openings
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--Revolution Slider end-->
    </div>
</section><!--main-slider end-->
{% endblock cover %}

{% block content %}
<main class="lght">

    <section class="mg-top-minus" style="">
        <div class="container3">
            <div class="block" style="padding: 100px 40px">
                <div class="fixed-bg bg2" style="background-color: #e24821;"></div>
                <div class="why-choose-us">
                    <!--<div class="title-sm">
                        <h3>why choose us</h3>
                    </div><!-title-sm end-->
                    <div class="our-specifications">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="spec-hd" style="text-align: center;">
                                 <!--   <h2>Field View Constructors is committed to excellence, and it takes
                                  a quality team to build quality construction.</h2>  -->
                                </div>
                            </div>
                            <!--<div class="col-lg-6">
                                <div class="properties">
                                    <div class="choosing-que">
                                        <h3>Professional Liability</h3>
                                        <p>Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo</p>
                                    </div><!-choosing-que end->
                                    <div class="choosing-que">
                                        <h3>Dedicated To Our Clients</h3>
                                        <p>Quisque mollis metus magna, ut <br />accumsan elit hendrerit ac. Lorem ipsum dolor sit amet, </p>
                                    </div><!-choosing-que end->
                                    <div class="choosing-que">
                                        <h3>Outstanding Services</h3>
                                        <p>lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa</p>
                                    </div><!-choosing-que end->		
                                </div><!-properties end->
                            </div>-->
                        </div>
                    </div><!--our-specifications end-->
                </div><!--why-choose-us end-->
            </div>
        </div>
    </section>

    <section id="current_openings" style="margin-bottom:60px;">
        <div class="block remove-btm-gap">
            <div class="container">
                <div class="title-sm">
                    <h3>Current Job Openings</h3>
                </div><!-- title-sm end-->
                <div class="specialization-data">
                {% for job in jobs %}
                    <div class="specialization" style="margin-bottom: 40px; background-color: #ffffff;">
                        <div class="spec-details">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="spec-text right-bfr">
                                        <h6 style="float: right">Posted on {{ job.pub_date }}</h6>
                                        <h3 style="">{{ job.title }}</h3>
                                        

                                        <p>{{ job.description }}</p>
                                        <h6 style="float:left; margin-bottom: 0px; margin-top: 20px;">Deadline {{ job.deadline }}</h6>
                                        <a href="{{ job.get_absolute_url }}" title="" class="tp-caption layera stt2 tp-resizeme extra-btn"
                                            id=""
                                            data-x="center" data-hoffset="0"
                                            data-y="center" data-voffset="60		"
                                            data-width="['auto','auto','auto','auto']"
                                            data-height="['auto','auto','auto','auto']"
                                            data-transform_idle="o:1;" 
                                            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{}]'  
                                            data-paddingtop="[20,20,20,20]"
                                            data-paddingright="[20,20,20,20]"
                                            data-paddingbottom="[20,20,20,20]"
                                            data-paddingleft="[20,20,20,20]"
                                            data-start="1500"
                                            data-splitin="none"
                                            data-splitout="none"
                                            data-elementdelay="0.05"
                                            style="">Apply Now
                                        </a>
                                        <!--<a class="btn" href="#" title="">Learn More</a>-->
                                    </div><!--spec-text end-->
                                </div>
                            </div>
                        </div><!--spec-details end-->
                    </div><!--specialization end-->
                {% endfor %}
                </div><!--specialization-data end-->
            </div>
        </div>
    </section>

</main>
{% endblock content %}
